<header class="container">
	<div class="row">
		<div class="col-sm-4">
			{{sign-in action="signin"}}
		</div>
		<div class="col-sm-8">
			<h3>Заказ</h3>
			{{#each cartItem in model.cart.cartItems}}
			<p>{{cartItem.dish.name}}</p>
			<p>{{cartItem.dish.price}}</p>
			<p>{{cartItem.dish.price}}</p>
			<p>{{cartItem.quantity}}</p>
			<p><button type="submit" class="btn btn-sm btn-default" {{action "removeItemFromCart" cartItem}}>Добавить раздел</button></p>
			{{else}}
				<p>Корзина пуста</p>
			{{/each}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			{{add-menu-section action="createMenuSection"}}
		</div>
	</div>
</header>
<hr/>
{{#each section in model.sections}}
<section class="container">
	<h3>{{section.name}}</h3>
	<a href="#" class="btn btn-sm btn-danger" role="button" {{action "deleteMenuSection" section}}>Удалить раздел</a>
	<div class="row">
		{{#each dish in section.dishes}}
		<div class="col-sm-6 col-md-4">
			{{menu-item dish=dish remove="removeDish" edit="editDish" addToCart="addDishToCart"}}
		</div>
		{{/each}}
		<div class="col-sm-12 col-md-12">
			{{add-dish-form section=section action="addDishToMenu"}}
		</div>
	</div>
</section>
{{else}}
	<section class="container">
		<h3>Ни одного раздела меню не было создано.</h3>
	</section>
{{/each}}
{{outlet}}
