<img src="" alt="...">
<div class="caption">
	<h3>{{dish.name}}</h3>
	<p>{{dish.description}}</p>
	<p>{{dish.weight}}</p>
	<p>{{dish.price}}</p>
	<p>
		<a href="#" class="btn btn-primary" role="button" {{action "addToCart"}}>Заказать</a>
		<a href="#" class="btn btn-primary" role="button" {{action "edit"}}>Редактировать</a>
		<a href="#" class="btn btn-primary" role="button" {{action "remove"}}>Удалить</a>
	</p>
</div>
{{yield}}