<div class="caption">
	<h3>Добавить блюдо в раздел</h3>
	<div class="form-group">
	    <label for="{{dishNameId}}">Название</label>
		{{input id=dishNameId type="text" class="form-control" value=dishName placeholder="Название блюда" }}
	</div>
	<div class="form-group">
	    <label for="{{dishDescriptionId}}">Описание</label>
		{{textarea id=dishDescriptionId type="text" class="form-control" value=dishDescription placeholder="Описание блюда" }}
	</div>
	<div class="form-group">
	    <label for="{{dishWeightId}}">Описание</label>
		{{input id=dishWeightId type="number" class="form-control" value=dishWeight placeholder="Вес порции" }}
	</div>
	<div class="form-group">
	    <label for="{{dishPriceId}}">Описание</label>
		{{input id=dishPriceId type="money" class="form-control" value=dishPrice placeholder="Цена за порцию" }}
	</div>
	<div class="form-group">
    	<label for="{{dishImageId}}">Фотография блюда</label>
    	<input type="file" id="{{dishImageId}}" class="form-control">
    	<p class="help-block">Добавить фотографию блюда.</p>
  	</div>
  	<div class="checkbox">
    	<label>
    		{{input type="checkbox" checked=dishAvailable }} Есть в наличии
    	</label>
  	</div>
	<p><a href="#" class="btn btn-sm btn-primary" role="button" {{action "addDish"}}>Добавить</a></p>
</div>
{{yield}}